@font-face {
    font-family: Eina1Bold;
    src:    url(../fonts/Eina01-Bold.ttf) format('ttf'),
            url('../fonts/eina01-bold-webfont.woff2') format('woff2'),
            url('../fonts/eina01-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Eina1Bold";
}

.pink-brand-color {
    color: #E263A7;
}

.yellow-brand-color {
    color: #FCCD2C;
}

/* Navigation hamburger menu styling + animation */

#navbar {
    z-index: 4;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
    height: 80px;
    background: rgba(255,255,255,.8);
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
}

#navbar.open {
    height: 616px;
    background: url(../img/nav-pattern.png);
    background-size: cover;
}

#nav-brand.open {
    visibility: hidden;
}

.nav-items {
    padding-top: 56px;
}

.nav-item {
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Eina1Bold';
    font-size: 36px;
    line-height: 1.6;
}

.nav-active {
    color: #E263A7;
}

#nav-icon {
  width: 60px;
  height: 35px;
  position: relative;
  margin: 20px auto 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: #9E9E9E;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
}

#nav-icon span:nth-child(odd) {
  left:0px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 14px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 28px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.nav-social-media {
    padding-top: 56px;
    text-align: center;
}

#nav-brand {
    cursor: pointer;
    color: #6B625E;
    font-family: 'Eina1Bold';
    font-size: 28px;
    text-align: left;
    position: absolute;
    top: -24px;
    left: 172px;
    line-height: .6
}


@media (min-width: 992px) {
    body {
        color: #6B625E;
    }

    h1 {
        line-height: 56px;
        font-size: 48px;
    }
    
    h2 {
        font-size: 32px;
        line-height: 1.25;
    }
    
    h3 {
        font-size: 28px;
    }
    
    h4 {
        font-size: 18px;
    }

    h1, h2, h3, h4, h5, p {
        font-family: "Eina1Bold", sans-serif;
    }

    .jumbotron {
        width: 100%;
        height: 400px;
        background-color: #FFF;
        display: block;
        vertical-align: middle;
    }

    .jumbotron-title {
        display: block;
        margin: 0 auto;
        vertical-align: middle;
        width: 268px;
        padding-top: 100px;
    }

    .jumbotron-header {
        margin-bottom: 8px;
    }

    .jumbotron-subhead {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .container {
        max-width: 960px;
        margin: auto;
        margin-top: 80px;
    }

    .content-section {
        width: 992px;
        padding: 40px 0px;
        display: inline-block;
    }


    /* Styling for home page */
    .jumbotron-home {
        text-align: left;
        background-image: url(../img/home-assets/thought-bubble.svg), url(../img/home-assets/ruler.svg), url(../img/home-assets/notebook.svg), url(../img/home-assets/paint-pallete.svg), url(../img/home-assets/brush.svg), url(../img/home-assets/yes-comment.svg), url(../img/home-assets/printer.svg), url(../img/home-assets/apple.svg), url(../img/home-assets/mobile-phone.svg), url(../img/home-assets/pencil.svg), url(../img/home-assets/paper-stack.svg);
        background-repeat: no-repeat;
        background-position: 524px 78px, 20px 60px, 20px 264px, 204px 28px, 150px 160px, 190px 296px, 378px 36px, 688px 40px, 756px 152px, 686px 296px, 880px 250px;
        background-size: 132px auto, 44px auto, 60px auto, 60px auto, 76px auto, 84px auto, 80px auto, 72px auto, 56px auto, 56px auto, 56px auto;
    }
    
    .col-2 {
        display: inline-block;
        width: 160px;
    }
    
    .col-4 {
        display: inline-block;
        width: 320px;
        vertical-align: top;
    }
    
    .col-6 {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }
    
    .col-8 {
        display: inline-block;
        width: 600px;
        vertical-align: top;
    }
    
    .col-12 {
        display: inline-block;
        width: 960px;
    }
    
    .section-header {
        font-family: 'Eina1Bold';
    }
    
    .section-desc {
        font-family: 'Eina1Bold';
        line-height: 1.6;
    }
    
    .right-section-header, .right-section-desc {
        padding-left: 36px;
        text-align: left;
    }
    
    .left-section-header, .left-section-desc {
        padding-right: 36px;
        text-align: right;
    }
    
    #lightbulb-header {
        padding-top: 24px;
    }
    
    #slo-hills {
        width: 552px;
        padding-top: 40px;
    }
    
    .mobile-hills {
        display: none;
    }
    
    .full-section-header {
        margin-top: 0px;
        padding-left: 18px;
        text-align: left;
    }
    
    .featured-speakers {
        margin: auto;
        padding-top: 12px;
    }
    
    .featured-speaker {
        display: inline-block;
        width: 236px;
    }
    
    .speaker-photo {
        display: block;
        margin: auto;
        width: 200px;
        border: 1px solid #E0E0E0;
    }
    
    .speaker-name {
        cursor:default;
        color: #E263A7;
        font-size: 24px;
        margin-top: 16px;
        padding-left: 18px;
        margin-bottom: 4px;
    }
    
    .speaker-company {
        cursor: default;
        font-size: 24px;
        margin-top: 0px;
        padding-left: 18px;
    }
    
    .view-speakers {
        text-align: right;
        font-size: 24px;
        transition: .2s color;
        margin-top: 12px;
    }
    
    .view-speakers:hover {
        color: #E263A7;
        cursor: pointer;
    }
    
    .view-arrow {
        display: inline-block;
        height: 20px;
        padding-right: 20px;
        padding-left: 8px;
    }
    
    .sponsor-row {
        padding-top: 32px;
        padding-left: 18px;
        vertical-align: middle;
    }
    
    /* Sponsor logos */
    #IDEO {
        width: 120px;
        margin-right: 40px;
    }
    
    #adobe {
        height: 120px;
        margin-right: 40px;
    }
    
    #tinder {
        width: 220px;
        margin-right: 40px;
    }
    
    #IBM {
        height: 80px;
    }
    
    #tcg {
        width: 120px;
        margin-right: 40px;
    }
    
    #moo {
        width: 220px;
        margin-right: 40px;
    }
    
    #wayfare {
        width: 300px;
    }
    
    footer {
        margin-top: 80px;
        height: 292px;
        color: white;
        background-color: #6B625E;
    }
    
    .footer-header {
        margin-bottom: 0px;
    }
    
    .footer-desc {
        font-family: 'Eina1Bold';
        font-size: 16px;
        padding-right: 32px;
    }
    
    .social-media-icon {
        margin-top: 12px;
        margin-right: 12px;
        width: 40px;
        height: auto;
    }
    
    /* Styling for Speakers page */
    
    .jumbotron-speakers {
        text-align: center;
        background-image: url(../img/left-curtain.svg), url(../img/right-curtain.svg), url(../img/left-squiggle.svg), url(../img/right-squiggle.svg), url(../img/stage-front.svg);
        background-size: 112px auto, 98px auto, 40px auto, 40px auto, 812px auto;
        background-repeat: no-repeat;
        background-position: 0px 24px, 862px 22px, 380px 214px, 536px 214px, 93px 300px;
    }
    
    .speaker {
        margin: 80px 0px;
    }
    
    .speaker-date {
        font-size: 28px;
        margin-top: 8px;
    }
    
    .speaker-info-photo {
        height: 150px;
        width: auto;
    }
    
    .speaker-social-media {
        text-align: center;
        padding-top: 16px;
    }
    
    .speaker-social-icon {
        height: 40px;
        width: auto;
        padding-right: 8px;
    }
    
    .session-info {
        padding-left: 40px;
        width: 572px;
    }
    
    .session-title {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    
    .session-speaker {
        margin-top: 12px;
    }
    
    .session-underline {
        padding-bottom: 2px;
        border-bottom: 2px solid #6B625E;
    }
    
    .session-desc {
        line-height: 1.6;
        width: 508px;
    }
    
    .session-action {
        vertical-align: top;
        padding-top: 20px;
        width: 180px;
    }
    
    .get-ticket-btn {
        font-family: 'Eina1Bold';
        color: black;
        border-radius: 4px;
        text-decoration: none;
        font-size: 20px;
        padding: 16px 40px;
        background-color: #FCCD2C;
        margin-left: 10px;
    }
    
    .session-location {
        text-align: right;
        font-size: 18px;
        margin-top: 36px;
    }
    
    /* Styling for Workshops page */
    
    .jumbotron-workshops {
        text-align: center;
        background-image: url(../img/left-workshop-table.svg), url(../img/right-workshop-table.svg), url(../img/left-squiggle.svg), url(../img/right-squiggle.svg);
        background-size: 320px auto, 300px auto, 40px auto, 40px auto;
        background-repeat: no-repeat;
        background-position: 16px 80px, 620px 22px, 380px 214px, 536px 214px;
        animation: rotatebg 1s linear infinite;

    }

    
    /* Styling for schedule page */
    
    .jumbotron-schedule {
        text-align: center;
        background-image: url(../img/schedule-updated.png);
        background-repeat: no-repeat;
        background-size: 300px auto;
        background-position: 327px 50px;
        
    }
    
    .schedule-title {
        text-align: center;
    }
    
    .event-time {
        font-family: 'Just Me Again Down Here', cursive;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #E263A7;
    }
    
    .event-presenter {
        margin: 0px 0px 4px 0px;
        font-size: 28px;
        color: #9E9E9E;
    }
    
    .event-name {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    
    .first-schedule-col {
        text-align: center;
        padding-right: 16px;
        border-right: 4px solid #FCCD2C;
    }
    
    .second-schedule-col {
        text-align: center;
        padding-left: 12px;
    }
    
    /* Location page styling */
    
    .jumbotron-location {
        background-image: url(../img/PAC.svg);
        background-repeat: no-repeat;
        background-size: 600px auto;
        background-position: 50px 00px;
    }
    
    .jumbotron-location-title {
        z-index: 0;
        position: relative;
        left: 165px;
        top: -49px;
    }
    
    .lg-bubble-img {
        width: 100%;
    }
    
    .slo-location-map {
        display: block;
        margin: auto;
        width: 600px;
        text-align: center;
    }
    
    /* Contact page styling */
    
    .jumbotron-contact {
        text-align: center;
        height: 150px
    }
    
    .contact-header {
        margin-top: 60px;
        padding-left: 40px;
    }
    .contact-info {
        font-size: 24px;
        padding-left: 40px;
    }
}

/* Tablet media query */

@media (min-width: 768px) and (max-width: 991px) {
    
    body {
        color: #6B625E;
    }

    h1 {
        line-height: 56px;
        font-size: 48px;
    }
    
    h2 {
        font-size: 36px;
        line-height: 1.25;
    }

    h1, h2, h3, h4, h5, p {
        font-family: "Eina1Bold", sans-serif;
    }

    .jumbotron {
        width: 100%;
        height: 400px;
        background-color: #FFF;
        display: block;
        vertical-align: middle;
    }

    .jumbotron-title {
        display: block;
        margin: 0 auto;
        vertical-align: middle;
        width: 268px;
        padding-top: 100px;
    }

    .jumbotron-header {
        margin-bottom: 8px;
    }

    .jumbotron-subhead {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .container {
        width: 768px;
        margin: auto;
        margin-top: 80px;
    }

    .content-section {
        width: 768px;
        padding: 40px 0px;
        display: inline-block;
    }
        
  /* Styling for home page */
    .jumbotron-home {
        text-align: left;
        background-image: url(../img/home-assets/thought-bubble.svg), url(../img/home-assets/ruler.svg), url(../img/home-assets/notebook.svg), url(../img/home-assets/paint-pallete.svg), url(../img/home-assets/brush.svg), url(../img/home-assets/yes-comment.svg), url(../img/home-assets/printer.svg), url(../img/home-assets/apple.svg), url(../img/home-assets/mobile-phone.svg), url(../img/home-assets/pencil.svg), url(../img/home-assets/paper-stack.svg);
        background-repeat: no-repeat;
        background-position: 440px 86px, 16px 60px, 16px 264px, 163px 28px, 120px 160px, 152px 296px, 302px 36px, 550px 40px, 604px 152px, 548px 296px, 704px 250px;
        background-size: 120px auto, 34px auto, 48px auto, 48px auto, 60px auto, 68px auto, 64px auto, 58px auto, 44px auto, 44px auto, 44px auto;
    }
    
    .col-2 {
        display: inline-block;
        width: 16%;
    }
    
    .col-4 {
        display: inline-block;
        width: 33%;
        vertical-align: top;
    }
    
    .col-6 {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }
    
    .col-8 {
        display: inline-block;
        width: 66%;
        vertical-align: top;
    }
    
    .col-12 {
        display: inline-block;
        width: 768px;
    }
    
    .section-header {
        font-family: 'Eina1Bold';
        font-size: 36px;
    }
    
    .section-desc {
        font-family: 'Eina1Bold';
        font-size: 20px;
        line-height: 1.6;
    }
    
    .right-section-header, .right-section-desc {
        padding-left: 36px;
        text-align: left;
    }
    
    .left-section-header, .left-section-desc {
        padding-right: 36px;
        text-align: right;
    }
    
    #lightbulb-header {
        padding-top: 24px;
    }
    
    #lightbulb {
        padding-top: 56px;
    }
    
    #slo-hills {
        width: 100%;
        padding-top: 120px;
    }
    
    .mobile-hills {
        display: none;
    }
    
    .full-section-header {
        margin-top: 0px;
        padding-left: 18px;
        text-align: left;
    }
    
    .featured-speakers {
        margin: auto;
        padding-top: 12px;
    }
    
    .featured-speaker {
        display: inline-block;
        width: 20%;
    }
    
    .speaker-photo {
        display: block;
        margin: auto;
        width: 80%;
        border: 1px solid #E0E0E0;
    }
    
    .speaker-name {
        cursor:default;
        color: #E263A7;
        font-size: 24px;
        margin-top: 16px;
        padding-left: 18px;
        margin-bottom: 4px;
    }
    
    .speaker-company {
        cursor: default;
        font-size: 24px;
        margin-top: 0px;
        padding-left: 18px;
    }
    
    .view-speakers {
        width: 768px;
        text-align: right;
        font-size: 24px;
        transition: .2s color;
        margin-top: 12px;
    }
    
    .view-speakers:hover {
        color: #E263A7;
        cursor: pointer;
    }
    
    .view-arrow {
        display: inline-block;
        height: 20px;
        padding-right: 20px;
        padding-left: 8px;
    }
    
    .sponsor-row {
        padding-top: 32px;
        padding-left: 18px;
        vertical-align: middle;
    }
    
    /* Sponsor logos */
    #IDEO {
        width: 96px;
        margin-right: 32px;
    }
    
    #adobe {
        height: 96px;
        margin-right: 32px;
    }
    
    #tinder {
        width: 176px;
        margin-right: 32px;
    }
    
    #IBM {
        height: 64px;
    }
    
    #tcg {
        width: 96px;
        margin-right: 32px;
    }
    
    #moo {
        width: 176px;
        margin-right: 32px;
    }
    
    #wayfare {
        width: 240px;
    }
    
    footer {
        margin-top: 80px;
        height: 280px;
        color: white;
        background-color: #6B625E;
    }
    
    .footer-header {
        margin-bottom: 0px;
    }
    
    .footer-desc {
        font-family: 'Eina1Bold';
        font-size: 16px;
        padding-right: 32px;
    }
    
    .social-media-icon {
        margin-top: 12px;
        margin-right: 12px;
        width: 40px;
        height: auto;
    }
    
    /* Styling for Speakers page */
    
    .jumbotron-speakers {
        text-align: center;
        background-image: url(../img/left-curtain.svg), url(../img/right-curtain.svg), url(../img/left-squiggle.svg), url(../img/right-squiggle.svg), url(../img/stage-front.svg);
        background-size: 89.6px auto, 78.4px auto, 32px auto, 32px auto, 625px auto;
        background-repeat: no-repeat;
        background-position: 0px 24px, 689.6px 22px, 288px 214px, 445px 214px, 85px 300px;
    }
    
    .speaker {
        margin: 80px 0px;
    }
    
    .speaker-date {
        font-size: 28px;
        margin-top: 8px;
    }
    
    .speaker-info-photo {
        height: auto;
        width: 100%;
    }
    
    .speaker-social-media {
        text-align: center;
        padding-top: 16px;
    }
    
    .speaker-social-icon {
        height: 40px;
        width: auto;
        padding-right: 8px;
    }
    
    .session-info {
        padding-left: 40px;
        width: 52%;
    }
    
    .session-title {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    
    .session-speaker {
        margin-top: 12px;
    }
    
    .session-underline {
        padding-bottom: 2px;
        border-bottom: 2px solid #6B625E;
    }
    
    .session-desc {
        line-height: 1.6;
        width: 100%;
    }
    
    .session-action {
        vertical-align: top;
        padding-top: 20px;
        width: 180px;
    }
    
    .get-ticket-btn {
        font-family: 'Eina1Bold';
        color: black;
        border-radius: 4px;
        text-decoration: none;
        font-size: 20px;
        padding: 16px 40px;
        background-color: #FCCD2C;
        margin-left: 10px;
    }
    
    .session-location {
        text-align: right;
        font-size: 18px;
        margin-top: 36px;
    }
    
    /* Styling for Workshops page */
    
    .jumbotron-workshops {
        text-align: center;
        background-image: url(../img/left-workshop-table.svg), url(../img/right-workshop-table.svg), url(../img/left-squiggle.svg), url(../img/right-squiggle.svg);
        background-size: 256px auto, 240px auto, 32px auto, 32px auto;
        background-repeat: no-repeat;
        background-position: 6px 80px, 500px 22px, 292px 214px, 442px 214px;
        animation: rotatebg 1s linear infinite;

    }

    
    /* Styling for schedule page */
    
    .jumbotron-schedule {
        text-align: center;
        background-image: url(../img/schedule-updated.png);
        background-repeat: no-repeat;
        background-size: 300px auto;
        background-position: 235px 50px;
        
    }
    
    .schedule-title {
        text-align: center;
    }
    
    .event-time {
        font-family: 'Just Me Again Down Here', cursive;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #E263A7;
    }
    
    .event-presenter {
        margin: 0px 0px 4px 0px;
        font-size: 28px;
        color: #9E9E9E;
    }
    
    .event-name {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    
    .first-schedule-col {
        text-align: center;
        padding-right: 16px;
        border-right: 4px solid #FCCD2C;
    }
    
    .second-schedule-col {
        text-align: center;
    }
    
    /* Location page styling */
    
    .jumbotron-location {
        background-image: url(../img/PAC.svg);
        background-repeat: no-repeat;
        background-size: 500px auto;
        background-position: 50px 39px;
    }
    
    .jumbotron-location-title {
        z-index: 0;
        position: relative;
        left: 184px;
        top: -49px;
    }
    
    .lg-bubble-img {
        width: 100%;
    }
    
    .slo-location-map {
        display: block;
        margin: auto;
        width: 600px;
        text-align: center;
    }
    
    /* Contact page styling */
    
    .jumbotron-contact {
        text-align: center;
        height: 150px
    }
    
    .contact-header {
        margin-top: 60px;
        padding-left: 45px;
    }
    .contact-info {
        padding-left: 45px;
    }
    
}
    
/* Phone Media Query */
    
@media (min-width: 320px) and (max-width: 767px) {
    
    #nav-brand {
        left: 20px;
    }
    
    #nav-icon {
        margin: 0;
        float: right;
        margin-top: 20px;
        margin-right: 12px;
    }
    
    .nav-items {
        padding-top: 72px;
    }
    
    .nav-item {
        color: black;
        display: block;
        text-align: center;
        text-decoration: none;
        font-family: 'Eina1Bold';
        font-size: 24px;
        line-height: 1.6;
    }
    
    .nav-social-media {
        padding-top: 24px;
    }
    
    #home-brand {
        opacity: 0;
        transition: .2s linear;
    }
    
    body {
        color: #6B625E;
    }

    h1 {
        line-height: 40px;
        font-size: 32px;
    }
    
    h2 {
        font-size: 26px;
        line-height: 1.25;
    }

    h1, h2, h3, h4, h5, p {
        font-family: "Eina1Bold", sans-serif;
    }

    .jumbotron {
        width: 100%;
        height: 400px;
        background-color: #FFF;
        display: block;
        vertical-align: middle;
    }

    .jumbotron-title {
        display: block;
        margin: 0 auto;
        vertical-align: middle;
        width: 268px;
        padding-top: 100px;
    }

    .jumbotron-header {
        margin-bottom: 8px;
    }

    .jumbotron-subhead {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .container {
        width: 100%;
        margin: auto;
        margin-top: 80px;
    }

    .content-section {
        width: 100%;
        padding: 40px 0px;
        display: inline-block;
    }
        
  /* Styling for home page */
    .jumbotron-home {
        text-align: left;
        background-image: url(../img/home-assets/ruler.svg), url(../img/home-assets/notebook.svg), url(../img/home-assets/paint-pallete.svg), url(../img/home-assets/brush.svg), url(../img/home-assets/yes-comment.svg), url(../img/home-assets/printer.svg), url(../img/home-assets/apple.svg), url(../img/home-assets/pencil.svg);
        background-repeat: no-repeat;
        background-position: 340px 86px, 16px 60px, 16px 264px, 163px 28px, 120px 230px, 178px 296px, 250px 36px, 290px 250px, 610px 152px, 540px 296px, 704px 250px;
        background-size: 35px auto, 48px auto, 48px auto, 48px auto, 60px auto, 68px auto, 64px auto, 58px auto, 44px auto, 44px auto, 44px auto;
    }
    
    .col-2 {
        display: inline-block;
        width: 16%;
    }
    
    .col-4 {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    
    .col-6 {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    
    .col-8 {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    
    .col-12 {
        display: inline-block;
        width: 100%;
    }
    
    .section-header {
        font-family: 'Eina1Bold';
    }
    
    .section-desc {
        font-family: 'Eina1Bold';
        line-height: 1.6;
    }
    
    .right-section-header, .right-section-desc {
        padding-left: 0px;
        text-align: center;
    }
    
    .right-section-desc {
        max-width: 90%;
        display: block;
        margin: auto;
    }
    
    .left-section-header, .left-section-desc {
        padding-right: 0px;
        text-align: center;
        max-width: 90%;
        display: block;
        margin: auto;
        margin-bottom: 21px;
    }
    
    #lightbulb-header {
        padding-top: 0px;
    }
    
    #lightbulb {
        display: block;
        margin: auto;
        height: 160px;
        padding-top: 0px;
    }
    
    #slo-hills {
        width: 90%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .desktop-hills {
        display: none;
    }
    
    .full-section-header {
        margin-top: 0px;
        padding-left: 18px;
        text-align: left;
    }
    
    .featured-speakers {
        text-align: center;
        margin: auto;
        padding-top: 12px;
    }
    
    .featured-speaker {
        display: inline-block;
        max-width: 300px;
    }
    
    .speaker-photo {
        display: block;
        margin: auto;
        width: 80%;
        border: 1px solid #E0E0E0;
    }
    
    .speaker-name {
        cursor:default;
        color: #E263A7;
        font-size: 24px;
        margin-top: 16px;
        padding-left: 18px;
        margin-bottom: 4px;
    }
    
    .speaker-company {
        cursor: default;
        font-size: 24px;
        margin-top: 0px;
        padding-left: 18px;
    }
    
    .view-speakers {
        width: 100%;
        text-align: right;
        font-size: 24px;
        transition: .2s color;
        margin-top: 12px;
    }
    
    .view-speakers:hover {
        color: #E263A7;
        cursor: pointer;
    }
    
    .view-arrow {
        display: inline-block;
        height: 20px;
        padding-right: 20px;
        padding-left: 8px;
    }
    
    .sponsor-row {
        padding-top: 32px;
        padding-left: 18px;
        vertical-align: middle;
    }
    
    /* Sponsor logos */
    #IDEO {
        width: 96px;
        margin-right: 32px;
    }
    
    #adobe {
        height: 96px;
        margin-right: 32px;
    }
    
    #tinder {
        width: 176px;
        margin-right: 32px;
    }
    
    #IBM {
        height: 64px;
    }
    
    #tcg {
        width: 96px;
        margin-right: 32px;
    }
    
    #moo {
        width: 176px;
        margin-right: 32px;
    }
    
    #wayfare {
        width: 240px;
    }
    
    footer {
        margin-top: 80px;
        height: 280px;
        color: white;
        background-color: #6B625E;
    }
    
    .footer-header {
        margin-bottom: 0px;
    }
    
    .footer-desc {
        font-family: 'Eina1Bold';
        font-size: 16px;
        padding-right: 32px;
    }
    
    .social-media-icon {
        margin-top: 12px;
        margin-right: 12px;
        width: 40px;
        height: auto;
    }
    
    /* Styling for Speakers page */
    
    .jumbotron-speakers {
        text-align: center;
        background-image: url(../img/left-curtain.svg), url(../img/right-curtain.svg), url(../img/left-squiggle.svg), url(../img/right-squiggle.svg), url(../img/stage-front.svg);
        background-size: 89.6px auto, 78.4px auto, 32px auto, 32px auto, 625px auto;
        background-repeat: no-repeat;
        background-position: 0px 24px, 689.6px 22px, 288px 214px, 445px 214px, 85px 300px;
    }
    
    .speaker {
        margin: 80px 0px;
    }
    
    .speaker-date {
        font-size: 28px;
        margin-top: 8px;
    }
    
    .speaker-info-photo {
        height: auto;
        width: 100%;
    }
    
    .speaker-social-media {
        text-align: center;
        padding-top: 16px;
    }
    
    .speaker-social-icon {
        height: 40px;
        width: auto;
        padding-right: 8px;
    }
    
    .session-info {
        padding-left: 40px;
        width: 52%;
    }
    
    .session-title {
        font-size: 40px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    
    .session-speaker {
        margin-top: 12px;
    }
    
    .session-underline {
        padding-bottom: 2px;
        border-bottom: 2px solid #6B625E;
    }
    
    .session-desc {
        line-height: 1.6;
        width: 100%;
    }
    
    .session-action {
        vertical-align: top;
        padding-top: 20px;
        width: 180px;
    }
    
    .get-ticket-btn {
        font-family: 'Eina1Bold';
        color: black;
        border-radius: 4px;
        text-decoration: none;
        font-size: 20px;
        padding: 16px 40px;
        background-color: #FCCD2C;
        margin-left: 10px;
    }
    
    .session-location {
        text-align: right;
        font-size: 18px;
        margin-top: 36px;
    }
    
    /* Styling for Workshops page */
    
    .jumbotron-workshops {
        text-align: center;
        background-image: url(../img/left-workshop-table.svg), url(../img/right-workshop-table.svg), url(../img/left-squiggle.svg), url(../img/right-squiggle.svg);
        background-size: 256px auto, 240px auto, 32px auto, 32px auto;
        background-repeat: no-repeat;
        background-position: 6px 80px, 500px 22px, 292px 214px, 442px 214px;
        animation: rotatebg 1s linear infinite;

    }

    
    /* Styling for schedule page */
    
    .jumbotron-schedule {
        text-align: center;
        background-image: url(../img/schedule-updated.png);
        background-repeat: no-repeat;
        background-size: 300px auto;
        background-position: 235px 50px;
        
    }
    
    .schedule-title {
        text-align: center;
    }
    
    .event-time {
        font-family: 'Just Me Again Down Here', cursive;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #E263A7;
    }
    
    .event-presenter {
        margin: 0px 0px 4px 0px;
        font-size: 28px;
        color: #9E9E9E;
    }
    
    .event-name {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    
    .first-schedule-col {
        text-align: center;
        padding-right: 16px;
        border-right: 4px solid #FCCD2C;
    }
    
    .second-schedule-col {
        text-align: center;
    }
    
    /* Location page styling */
    
    .jumbotron-location {
        background-image: url(../img/PAC.svg);
        background-repeat: no-repeat;
        background-size: 500px auto;
        background-position: 50px 39px;
    }
    
    .jumbotron-location-title {
        z-index: 0;
        position: relative;
        left: 184px;
        top: -49px;
    }
    
    .lg-bubble-img {
        width: 100%;
    }
    
    .slo-location-map {
        display: block;
        margin: auto;
        width: 600px;
        text-align: center;
    }
    
    /* Contact page styling */
    
    .jumbotron-contact {
        text-align: center;
        height: 150px
    }
    
    .contact-header {
        margin-top: 60px;
        padding-left: 45px;
    }
    .contact-info {
        padding-left: 45px;
    }
    
}
